{# /Homepage/homepage.html.twig #}
{# Post List for logged in authors #}
{% extends '@LogBlog/layout.html.twig' %}

{% block page_content %}
    <h2>Anzeigen: {{ post.title }}</h2>
    <p>
        {% if not post.published %}
        <a href="{{ path('log_blog_authoring_post_publish', { 'postId': post.id }) }}">Veröffentlichen</a>
        <a href="{{ path('log_blog_authoring_post_edit', { 'postId': post.id }) }}">Bearbeiten</a>
        {% else %}
        <a href="{{ path('log_blog_authoring_post_unpublish', { 'postId': post.id }) }}">Zurückziehen</a>
        {% endif %}
    </p>
    <dl class="property-list">
        <dt>Autor</dt>
        <dd>{{ post.author }}</dd>
        <dt>Veröffentlicht</dt>
        <dd>
            {% if post.published %}
                Ja, am {{ post.publishedAt | date }}
            {% else %}
                Nein
            {% endif %}
        </dd>
        <dt>Zuletzt bearbeitet</dt>
        <dd>{{ post.updatedAt | date }}</dd>
        <dt>Erstellt am</dt>
        <dd>{{ post.createdAt | date }}</dd>
        <dt>Inhalt</dt>
        <dd>
            {{ post.content | nl2br }}
        </dd>
    </dl>
{% endblock %}